<div class="footer">
    <div class="nav-parent">
        <div class="nav-block">
            <h3 class="nav-title">Quick Links</h3>
            <nav>
                <a href="#">Homepage</a>
                <a href="#">Roaming Information</a>
                <a href="#">Service Fees</a>
                <a href="#">Report Fraud</a>
                <a href="#">Device Repair</a>
            </nav>
        </div>
        <div class="nav-block">
            <h3 class="nav-title">Offers</h3>
            <nav>
                <a href="#">Mobile Plans</a>
                <a href="#">Prepaid SIM</a>
                <a href="#">Internet at Home</a>
                <a href="#">5G Speed Option</a>
                <a href="#">Saving Options</a>
                <a href="#">Wi-Fi Calling</a>
            </nav>
        </div>
        <div class="nav-block">
            <h3 class="nav-title">My yallo</h3>
            <nav>
                <a href="#">Account Login</a>
                <a href="#">My Products</a>
                <a href="#">Usage History</a>
                <a href="#">Past Invoices</a>
                <a href="#">Settings</a>
            </nav>
        </div>
        <div class="nav-block">
            <h3 class="nav-title">About yallo</h3>
            <nav>
                <a href="#">Company</a>
                <a href="#">Media Center</a>
                <a href="#">Review & Awards</a>
                <a href="#">Business Customers</a>
                <a href="#">Reseller Login</a>
            </nav>
        </div>
    </div>
    <img class="logo" src="/assets/logo.svg" alt="Yallo" />
</div>
