:root{
  --header-color: #081F32;
  --sub-header-color: #6E798C;
  --footer-color: #AAB0B4;
  --dark-bg-color: #27303E;
  --primary-color: #00CCCC;
  --secondary-color: #0098c8;
  --container-width: 1344px;
}
